td {
  color:orange;
}
th {
  color:orange;
}
a{
  color:white;
}
img {
  height:400px;
  width:400px;
  filter:invert(100%);

}
h1 {
font-size: 80px;
color:white;
}

p {
 color:white;
 font-size:40px;
}
